@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('button.css');

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: pink;
  color: #0008;
}

#app {
  max-width: 980px;
  margin: 50px auto;
  padding: 0 15px;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin: 0;
}

div.items, form {
  box-shadow: 0 .5rem 1rem #00000026 !important;
  padding: 10px;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 50px;
}

form input {
  border-radius: 1rem !important;
  height: 50px;
  width: 100%;
  font-size: 25px !important;
  margin-bottom: 15px;
}

form button {
  width: 100%;
}

form input::placeholder {
  color: #ccc !important;
  font-size: 20px !important;
}

h2 {
  text-align: center;
  margin: 10px 0 25px 0;
  font-size: 25px;
}

.items ol {
  padding: 0;
  counter-reset: section;
}

.items li {
  margin-bottom: 15px;
  padding: 15px 20px;
  border-radius: 1rem;
  background-color: #f0f0f0;
  display: flex;
  padding: 15px 10px 5px 20px;
  justify-content: space-between;
}

.items li::before {
  counter-increment: section;
  content: counter(section) ". ";
  position: absolute;
}

.items li h3 {
  padding: 0;
  margin: 0;
  margin-left: 20px;
  font-size: 20px;
}

.items button.delete {
  background-color: rgb(150, 53, 53);
  padding: 13px 15px;
  margin-bottom: 5px;
  margin-top: -3px;
}

.items button.delete:after {
  content: "×";
  line-height: 28px;
  background-color: rgb(197, 57, 57);
}

@media (min-width: 768px) and (min-height: 600px) {
  .container {
    /* position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
  }
}