@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');

body {
  transition: background-color .2s ease;
  text-align: center;
}

#current-color {
  font-size: 120px;
  margin-top: 150px !important;
  font-family: monospace;
  text-shadow: 2px 2px 0 #fff;
}

div.colors {
  position: absolute;
  margin-top: 50px;
  bottom: 90px;
  width: 100%;
}

div.colors button {
  margin: 0 10px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 7px solid #fff;
}

button.active {
  border-color: green !important;
}


@media(max-width: 768px) {
  #current-color {
    font-size: 70px;
    margin-top: 10px !important;
  }
  
  div.colors {
    bottom: 20px;
  }
  
  div.colors button {
    margin: 10px;
    width: 40px;
    height: 40px;
  }
}
