@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
@import url('button.css');

body {
  font-family: 'Share Tech Mono', monospace;
  background-color: lightblue;
  color: #0008;
}

#app {
  margin: 50px auto;
  padding: 0 15px;
}

.container {
  max-width: 600px;
}

.users {
  width: 100%;
  margin: auto;
  background: #fff7;
  padding: 50px;
  border-radius: 2rem;
}

.users:empty {
  display: none;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
  margin-bottom: 50px;
}

.user {
  text-align: center;
  margin-bottom: 15px;
}

.user img {
  border-radius: 50%;
  width: 100%;
}

.user h3 {
  margin-top: 15px;
  font-size: clamp(.5rem, 2.5vw, 1rem);
}