.container button {
  appearance: button;
  background-color: #0f633c;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 10px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  /* width: 100%; */
  margin-bottom: 0px;
}

.container button:after {
  background-clip: padding-box;
  background-color: #198754;
  border: solid transparent;
  border-radius: 2rem;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.container button:main,
.container button:focus {
  user-select: auto;
}

.container button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.container button:disabled {
  cursor: auto;
}